body {
    background-color: #EEE;
    font-family: sans-serif;
    width: 50%;
    margin: 0 auto;
}

ul {
    background-color: #BBB;
}

ul li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    list-style: Circle;
}

.done {
    text-decoration: line-through;
    color: #555;
    list-style: Disc;
}